{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="container pt-3">
        {% if result %}
            {% for row in object_list %}
                <div class="row my-3">
                    <div class="col-2">
                        {% if row.photo %}
                            <img src="{{ row.photo.url }}" alt="not found" class="img-fluid">
                        {% else %}
                            <img src="{% static "images/not-found.png" %}" alt="not found"
                                 class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <a href="{% url "main:post" row.slug row.id %}" class="link-primary text-decoration-none d-block">{{ row.title }}</a>
                        <p class="content d-block">{{ row.short_info }}</p>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center" style="font-size: 12px;">
                                <div class="bg-info rounded me-2 px-1 text-white"> {{ row.date.date }}</div>
                            </div>
                            <a href="{% url "main:post" row.slug row.id %}" class="text-decoration-none">Batafsil...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if page_obj %}
                {% if page_obj.has_other_pages %}
                    <div class="btn-group mt-3" role="group" aria-label="Item pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="btn btn-outline-primary">&laquo;</a>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_number %}
                                <button class="btn btn-outline-primary active">
                                    <span>{{ page_number }}</span>
                                </button>
                            {% else %}
                                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                                    {{ page_number }}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="btn btn-outline-primary">&raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            <h5 class="my-3">So'rovingiz bo'yicha kitob mavjud emas</h5>
        {% endif %}
    </div>
{% endblock %}